/*styles for my new resume */


.col-md-6 {
    align-items: center;
}

.bi {
size: 3em;
}

nav.green-navbar {
    background-color: lightgreen;
    padding: 25px;
    color: black;
}

.body-content {
    text-align: center;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

#first-pic {
    width: 500px;
    max-width: 500px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}


p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    .footer {
    width: 100%;
    background-color: aqua;
}
}
