#content {
    margin: 0 auto;
    width: 900px;
}

#masthead {
      color: black;
      text-align: center;
      font-family: "BBH Sans Bartle", sans-serif;
      letter-spacing: 2px;
      font-size: 35px;
      background-color: lightgray;
      padding: 40px;

}

#check {
    color: lightgreen;
}

#review {
    color: lightgreen;
}

#century {
    color: lightgreen;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1{
    font-family: Helvetica, sans-serif;
    text-align: center;

}

p {
    font-family: Georgia, serif;
    font-size: 13px;
}



#cars {
    width: 700px;
    align-content: center;
}

#quote {
    font-size: 40px;
    font-weight: 400;
    background-color: lightgreen;
    padding: 20px;
}

#read {
    background-color: lightgreen;
}

#second {
    max-width: 500px;
}

h3{
    font-style: italic;
    text-align: center;
}