/*this is my style sheet */
.body-content {
    font-size: larger;
}

p {
    font-family: "Oswald", sans-serif;
        line-height: 1.8;

}


.pullquote-box {
  background-color: #b30000; /* dark red */
  padding: 20px;
  border-radius: 10px;
  color: white;              /* makes the text readable */
  max-width: 700px;
  margin: 30px auto;
}

.body-content h2 {
    font-family: "Oswald", sans-serif;
    color: #b30000 !important;
}


.bi {
size: 3em;
}

h1,
h3 {
 font-family: "Montserrat", sans-serif;

}


.row { 
    padding-bottom: 50px;

}


@media only screen and (max-width: 500px) {
h2 { 
    padding-top: 50px;

}
}

@media only screen and (max-width: 500px) {
.btn { 
    background-color: teal;

}
}

.d-block {
    width: min-content;
    max-width: 500px;
}

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;        
  overflow: hidden;
  margin: 0;            
  padding: 0;           
}

.masthead-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.masthead .content {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  padding: 0 1rem; /* optional: safe padding on phones */
}

.container {
    padding-top: 100px;
}
